
.background {
    height: 100%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
}

.main-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images {
    margin-top: 5vh;
    padding: 20px;
}

.background-text {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    font-size: 3vh;
}

@media only screen and (min-width: 1300px) {
    .background {
        height: 100vh;
    }
    .images {
        margin-top: 5vh;
        display: flex;
        justify-content: space-between;
    }
  }

@media only screen and (max-width: 1300px) {
    .images {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
  }

img {
    height: 50vh;
    transition: .2s;
    /* box-shadow: 0px 11px 82px -50px rgba(255,255,255,0.75); */
}

.images > img:hover {
    scale: 1.05;
    cursor: pointer;
}