
.background {
    height: 100vh;
    padding: 1rem;
    background-image: url(../../Images/background.png);
    background-size: cover;
}

.main-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images {
    margin-top: 10vh;
}

@media only screen and (min-width: 800px) {
    .images {
        margin-top: 10vh;
        display: flex;
        justify-content: space-between;
    }
  }

img {
    height: 50vh;
    transition: .2s;
    box-shadow: 0px 11px 82px -149px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 11px 82px -149px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 11px 82px -149px rgba(255,255,255,0.75);
}

.images > img:hover {
    scale: 1.05;
    cursor: pointer;
}