
.title {
    font-size: 10vh;
    color: var(--text-color);
}

.login-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    height: 100vh;
}

.login-button {
    color: var(--text-color);
    height: 10vh;
    min-height: 60px;
    width: 30vw;
    min-width: 400px;
    background-color: var(--spotify-green);
    border-radius: 40px;
    transition-duration: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 13vw;
    font-size: .9rem;
}

.login-button:hover,
.main-button:hover {
    scale: 1.05;
    cursor: pointer;
}

.main-button {
    color: var(--text-color);
    text-decoration: none;
    height: 10vh;
    min-height: 60px;
    width: 30vw;
    min-width: 300px;
    background-color: var(--spotify-green);
    border-radius: 40px;
    transition-duration: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 13vw;
    font-size: 2rem;
}

i {
    margin-left: 1vw;
}

