
.main-title {
    font-size: 15vh;
    color: var(--text-color);
}

.login-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../../Images/background.png);
    background-size: cover;
    height: 100vh;
}

.main-button:hover {
    scale: 1.05;
    cursor: pointer;
}

.main-button {
    color: var(--text-color);
    text-decoration: none;
    height: 14vh;
    min-height: 60px;
    width: 40vw;
    min-width: 300px;
    background-color: var(--spotify-green);
    border-radius: 40px;
    transition-duration: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 13vw;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    font-size: 3.5rem;
}

i {
    margin-left: 1vw;
}

