
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.title {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 3vh;
    margin-left: 1vw;
    margin-top: 3vh;
}

.line-break {
    width: 100vw;
    border-bottom: 2px solid var(--text-color);
}

.logout-button {
    font-size: 2rem;
    height: 5vh;
    min-height: 50px;
    width: 120px;
    min-width: 10vw;
    background-color: var(--spotify-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.logout-button:hover {
    scale: 1.03;
}