.home-background {
    height: 100%;
    background-image: url(../../Images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.line-break {
    width: 98vw;
    border-bottom: 2px solid var(--text-color);
}

.poster {
    position: relative;
    display: flex;
    justify-content: space-around;
    scale: .75;
}

.change-background-button {
    position: absolute;
    border-radius: 20px;
    font-size: 1.3rem;
    height: 5vh;
    min-height: 50px;
    width: 8vw;
    min-width: 170px;
    background-color: var(--spotify-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    transition: .2s;
    bottom: 0;
    margin-left: 1vw;
}

.change-background-button:hover {
    scale: 1.02;
}

/* Poster Creation */

.final-poster {
    height: 500px;
    /* box-shadow: 0px 11px 82px 0 rgba(0, 0, 0, 1); */
}

.festival-name {
    margin-top: 23px;
    position: absolute;
    display: flex;
}

.linebreak {
    margin-top: 75px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-bottom: 1px solid white;
}

.artists {  
    margin-top: 105px;
    height: 150px;
    max-width: 600px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.headliner { 
    font-size: 50px;
}

.direct-support {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    font-size: 25px;
}

.all-artists {
    font-size: 16px;
    margin-top: 245px;
    position: absolute;
    display: flex;
    flex-direction: row;
    max-width: 450px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.1rem;
}

i {
    margin-top: 10px;
}

.share-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.download-button {
    padding: 10px; 
    background: #2C302E;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}