


.line-break {
    width: 98vw;
    border-bottom: 2px solid var(--text-color);
}

.poster {
    position: relative;
    display: flex;
    justify-content: space-around;
    scale: .75;
}

.change-background-button {
    position: absolute;
    border-radius: 20px;
    font-size: 1.3rem;
    height: 5vh;
    min-height: 50px;
    width: 8vw;
    min-width: 170px;
    background-color: var(--spotify-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    transition: .2s;
    bottom: 0;
    margin-left: 1vw;
}

.download-button {
    position: absolute;
    border-radius: 20px;
    font-size: 1.3rem;
    height: 5vh;
    min-height: 50px;
    width: 8vw;
    min-width: 170px;
    background-color: var(--spotify-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    transition: .2s;
    bottom: 0;
    right: 0;
    margin-right: 1vw;
}

.change-background-button:hover {
    scale: 1.02;
}

/* Poster Creation */

.final-poster {
    height: 500px;
    /* box-shadow: 0px 11px 82px 0 rgba(0, 0, 0, 1); */
}

.festival-name {
    margin-top: 23px;
    position: absolute;
    display: flex;
}

.linebreak {
    margin-top: 75px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-bottom: 1px solid white;
}

.artists {  
    margin-top: 105px;
    height: 150px;
    max-width: 600px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.headliner { 
    font-size: 50px;
}

.direct-support {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    font-size: 1.3rem;
    margin-top: 10px;
}

.all-artists {
    font-size: 16px;
    margin-top: 235px;
    position: absolute;
    display: flex;
    flex-direction: row;
    max-width: 450px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.1rem;
}

i {
    margin-top: 10px;
}

.share-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
}

.modal-content img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.modal-content button {
    margin-top: 20px;
}
