.home-background {
    height: 100vh;
    background-image: url(../../Images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.line-break {
    width: 98vw;
    border-bottom: 2px solid var(--text-color);
}

.poster {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}

.change-background-button {
    position: absolute;
    border-radius: 20px;
    font-size: 2rem;
    height: 10vh;
    min-height: 50px;
    width: 20vw;
    min-width: 300px;
    background-color: var(--spotify-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    transition: .2s;
    bottom: 0;
    margin-left: 1vw;
}

.change-background-button:hover {
    scale: 1.02;
}

/* Poster Creation */

.final-poster {
    height: 400px;
    box-shadow: 0px 11px 82px 0 rgba(0, 0, 0, 1);
}

.artists {  
    margin-top: 10px;
    height: 150px;
    max-width: 600px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.headliner { 
    font-size: 50px;
}

.direct-support {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    font-size: 25px;
}

.all-artists {
    font-size: 20px;
    margin-top: 160px;
    position: absolute;
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

i {
    margin-left: 1vw;
    margin-top: 10px;
}