:root {
  --background-color: #191414;
  --spotify-green: #1db954;
  --text-color: #ffffff;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

body {
  margin: 0;
  font-family: 'Bungee', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
