:root {
  --background-color: #191414;
  --spotify-green: #1db954;
  --text-color: #ffffff;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

@font-face {
  font-family: 'CustomFont';
  src: url('BebasNeue-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'CustomFont', sans-serif;
}

code {
    font-family: 'CustomFont';
    src: url('BebasNeue-Regular.ttf') format('truetype');
}
